<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat Room</title>

	<link rel="stylesheet" href={{ url_for('static', filename='char_room.css') }}>
	<!--<link rel="stylesheet" href={{ url_for('static', filename='char_room.js') }}>-->
	<script type="text/javascript" src={{ url_for('static', filename='char_room.js') }}></script>
</head>
<body>
	<div class="p1">
		<marquee>*生活是一面镜子。你对它笑，它就对你笑；你对它哭，它也对你哭。
*活着一天，就是有福气，就该珍惜。当我哭泣我没有鞋子穿的时候，我发现有人却没有脚。
*人生是个圆，有的人走了一辈子也没有走出命运画出的圆圈，其实，圆上的每一个点都有一条腾飞的切线。
*千万别迷恋网络游戏，要玩就玩好人生这场大游戏。命运负责洗牌，但是玩牌的是我们自己！
*我们心中的恐惧，永远比真正的危险巨大的多。
*命运掌握在自己手中。要么你驾驭生命，要么生命驾驭你，你的心态决定你是坐骑还是骑手。
*宁愿做过了后悔，也不要错过了后悔。
*不要拿小人的错误来惩罚自己，不要在这些微不足道的事情上折磨浪费自己的宝贵时间。
*如果我们都去做自己能力做得到的事，我们会让自己大吃一惊。
</marquee>
	</div>
	</br>
	<div class="p2"></br>
		<div class="p3" id="top"></div>
		<div class="p4"></div>
		<textarea name="textarea" id="msg" cols="105" rows="3"></textarea>
		<button type="button" onclick="clickButton()">发送消息</button>
	</div>

	<p align="center" class="bottom">
		copyright2017~2017,失落大陆组
	</p>
<!-- <embed height="50" width="100" src="music.mp3" hidden="true"> -->


	
	<div id="username_id" name="username" class="username" hidden="hidden">
		{{ username }}
	</div>
</body>
</html>